<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>First</title>
</head>
<body>
    <p id="p1" name="p_content" style="color:red">content</p>
<b>加粗</b>
<i>斜体</i>
<u>下划线</u>
<s>删除</s>
<p>段落标签</p>

<h1>标题1</h1>
<h2>标题2</h2>
<h3>标题3</h3>
<h4>标题4</h4>
<h5>标题5</h5>
<h6>标题6</h6>

<!--换行-->
<br>
<!--水平线--><hr>
    <a href="www.baidu.com" target="_blank">百度一下</a>

    <form action="" method="post">
        <label for="user">用户名</label>
        <input type="text" id="user" name="user"><br>

        <label for="passwd">密码</label>
        <input type="password" id="passwd" name="passwd"><br>
        <input type="date"><br>


        <input id="sex" type="radio" name="sex" value="man">男
        <input id="sex" type="radio" name="sex" value="woman">女

        <input type="checkbox">读书
        <input type="checkbox">跑步
        <input type="checkbox">游泳
        <input type="reset">
        <input type="button">需要JS来绑定事件
        <input type="file">
        <textarea name="text" id="" cols="30" rows="10"></textarea>
        <input type="submit">

        <select name="city" id="city">
            <option value="shanghai">上海</option>
            <option value="beijing">北京</option>
        </select>
    </form>
</body>
</html>