{% extends 'layout.html' %}
{% block content %}
<h2>修改菜单</h2>
{% block css %}

{% endblock %}
<div class="col-md-8" style="margin-left: 20px;">
    <form action="" method="post" class="form form-horizontal">
    <div class="form-group">
        {% csrf_token %}
        {% for field in form_obj %}
        <label for="field.id_for_label" class="control-label">{{ field.label }}</label>
        {{ field }}
        {% endfor %}
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>
</div>
{% endblock %}