{% extends 'crm/layout.html' %}
{% block css %}
<style>
        th, tr {
            text-align: center;
        }




</style>
{% endblock%}

{% block content %}
{% if ret %}
<h2>{{ ret }}</h2>
{% endif %}
<!--{{ add_btn }}-->
<!--<a href="{% url 'add_customer' %}?{{ query_params }}" class="btn btn-primary btn-sm">添加</a>-->
<a href="{% url 'add_class_list'%}?{{ query_params }}" class="btn btn-primary btn-sm">添加</a>
<div>
    <form action="" class="form-inline pull-right" method="get">
        <input type="text" name="query" class="form-control">
        <button class="btn btn-sm btn-primary">搜索 <i class="fa fa-search"></i></button>
    </form>
</div>
<form action="" method="post" class="form-inline">
    {% csrf_token %}
    <select name="action" class="form-control" style="margin: 5px 0">
        <option value="">请选择</option>
        <option value="multi_delte">删除</option>

    </select>
    <button class="btn btn-success btn-sm">提交</button>
    <table class="table table-condensed table-hover table-bordered">
        <thead>
        <tr>
            <th>选择</th>
            <th>序号</th>
            <th>班级信息</th>
            <th>学费</th>
            <th>开班日期</th>
            <th>结业日期</th>
            <th>合同</th>
            <th>老师</th>
            <th>班级类型</th>
            <th>编辑</th>
        </tr>
        </thead>
        <tbody>

        {% for class_obj in all_class_obj %}
        <tr>
            <td><input type="checkbox" name="id" value="{{ class_obj.id }}"></td>
            <td>{{ forloop.counter }}</td>
            <td><a href="{% url 'course_list' class_obj.id %}">{{ class_obj.get_course_display }}-{{ class_obj.semester}}-{{ class_obj.campuses }}</a></td>
            <td>{{ class_obj.price }}</td>
            <td>{{ class_obj.start_date }}</td>
            <td>{{ class_obj.graduate_date }}</td>
            <td>{{ class_obj.contract }}</td>
            <td>{{ class_obj.show_teachers }}</td>
            <td>{{ class_obj.get_class_type_display }}</td>

            <td><a href="{% url 'edit_class_list' class_obj.id %}?{{ query_params }}"><i class="fa fa-edit fa-fw"></i></a>
            </td>

        </tr>
        {% endfor %}


        </tbody>
    </table>
</form>
<nav aria-label="Page navigation">
    <ul class="pagination">
        <!--            {% for page in pagination %}-->
        <!--            <li><a href="/crm/page/?page={{ page }}">{{ page }}</a></li>-->
        <!--            {% endfor %}-->
        {{ html_str }}
    </ul>

</nav>

</div>
<div style="position:fixed;color:grey;bottom:30px;right:30px;"><p>符合条件的数据有&nbsp{{ len_obj }}&nbsp条</p>
</div>
{% endblock %}

